$black: #000;
$black-a: #1f2023;
$black-b: #1F1F1F;
$primary: #ffc700;
$white: #ffffff;
$gray: #d2d2d2;
$red: #ff0000;
$yellow: #C79B12;
$yellow-a: #FFE8AB;
$font-family: "Times New Roman", Times, serif;
